@import "../styles/fonts.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 105px;
}

a {
  text-decoration: none;
}

.header__container {
  position: relative;
  max-width: 1230px;
  padding: 40px 0;
  height: 108px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav__link {
  color: #120d0e;
  font-size: 24px;
  font-weight: 500;
}

.nav{
  padding-right: 20px;
}

.nav::after{
  display: block;
  content: "";
  background-color: #3D3B3C;
  border: 1px;
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
}

.about__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1230px;
  height: 608px;
  padding-top: 72px;
}

.section__title{
  font-size: 56px;
  font-weight: 500;
  color: #120D0E;
}

.job__title{
 color: #BEBEBE;
  padding-top: 8px;
}

.about__hi{
  padding-top: 40px;
  font-size: 22px;
  font-weight: 400;
  color: #3D3B3C;
  width: 572px;
}

.photo img{
  width: 414px;
  height: 464px;
}

.about__button{
 padding-top: 72px;
}

.btn {
  background-color: #3A4576;
  width: 185px;
  height: 56px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 500;
  margin-right: 24px;
}